@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body,
a,
p,
li,
div,
span {
  font-family: 'Roboto', sans-serif !important;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
.wrapper,
.App {
  min-height: 100vh;
}

nav {
  color: #525252;
  font-weight: 900;
  a,
  a:hover {
    color: #525252;
    font-weight: 900;
  }

  a:hover {
    text-decoration: none !important;
  }

  li {
    padding: 20px 0 20px 20px;
    cursor: pointer;
  }

  .active {
    background: rgb(151, 191, 15);
    color: white;
  }

  .social-container {
    font-size: 25px;
  }
}
