@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body,
a,
p,
li,
div,
span {
  font-family: 'Roboto', sans-serif !important;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body,
.wrapper,
.App {
  min-height: 100vh;
  overflow-x: hidden;
}

nav {
  color: #525252;
  font-weight: 900;
  font-size: 20px;
  a,
  a:hover {
    color: #525252;
    font-weight: 900;
    font-size: 20px;
  }

  a:hover {
    text-decoration: none !important;
  }

  li {
    padding: 20px 0 20px 20px;
    cursor: pointer;
  }

  .active {
    background: rgb(151, 191, 15);
    color: white;
  }

  ul {
    margin-top: auto;
  }

  .social_container {
    width: 90%;
    max-width: 500px;
    padding: 0 15px;
    margin-top: auto;

    a {
      font-size: 1.8rem;
    }
  }

  .social_container i {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .social_container .fa-facebook-square:hover {
    color: #3b5998;
  }

  .social_container .fa-twitter:hover {
    color: #00acee;
  }

  .social_container .fa-linkedin-in:hover {
    color: #0e76a8;
  }

  .social_container .fa-github:hover {
    color: #30e6cd;
  }

  .social_container .fa-envelope:hover {
    color: #d44638;
  }
}

form {
  input {
    width: 100%;
    max-width: 500px;
    border: none;
    border-radius: 4px;
    padding: 10px 0 10px 10px;
    border-bottom: #d8d8d8 solid 1px;
    margin-bottom: 30px;
  }

  button {
    border: none;
    border-radius: 4px;
    background: rgb(151, 191, 15);
    color: white;
    width: 100%;
    max-width: 200px;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
  }
}

.Home {
  .title {
    text-align: center;

    h1 {
      font-weight: 900;
      color: black;
    }

    p {
      font-size: 14px;
      color: black;
      opacity: 0.6;
    }
  }
  .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 70%;
    cursor: pointer;
  }

  ol {
    display: none;
  }

  .modal-dialog {
    min-height: 80%;
    min-width: 80%;
    max-width: 1000px !important;
  }
}

.ImagesContainer {
  button {
    height: 30px;
    width: 100px;
    color: white;
    background: rgb(151, 191, 15);
    border: none;
  }
  .left {
    border-radius: 0 50% 50% 0;
  }

  .right {
    border-radius: 50% 0 0 50%;
  }

  .disabled {
    opacity: 0.5;
  }
}

.Image {
  .image-div {
    min-width: 100%;
    height: 200px;
    background-size: contain;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1000px !important;
    max-height: 700px !important;
    margin: 1.75rem auto;
  }
}
